<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
        <label for="example-text-input" class="col-2 col-form-label">First Name</label>
        <div class="col-10">
            <input class="form-control" name="name" type="text" formControlName="name" >
        </div>
    </div>
    <div class="row mb-3">
        <label for="example-text-input" class="col-2 col-form-label">Last Name</label>
        <div class="col-10">
            <input class="form-control" name="lastName" type="text" formControlName="lastName" >
        </div>
    </div>
    <div class="row mb-3">
        <label for="example-email-input" class="col-2 col-form-label">Email</label>
        <div class="col-10">
            <input class="form-control" formControlName="email" type="email" >
        </div>
    </div>
    <div class="row mb-3">
        <label for="example-tel-input" class="col-2 col-form-label">Website</label>
        <div class="col-10">
            <input class="form-control" formControlName="website" type="text" >
        </div>
    </div>
    <!-- <div class="form-group row"> -->
    <!--     <label for="example-date-input" class="col-2 col-form-label">Date</label> -->
    <!--     <div class="col-10"> -->
    <!--         <input class="form-control" formControlName="telephone" [ngModel]="user['telephone']" type="tel" > -->
    <!--     </div> -->
    <!-- </div> -->
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<ng-template appConfirm>
    <app-modal-info-component></app-modal-info-component>
</ng-template>
<!--<pre>
{{ profileForm.value | json }}
{{ profileForm.status | json }}
{{ profileForm.valid | json }}
</pre>-->
