<div class="modal-header">
    <h4 class="modal-title">{{ options.title}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="no()">
        <!-- <span aria-hidden="true">&times;</span> -->
    </button>
</div>
<div class="modal-body">
    {{ options.message }}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="no()">No</button>
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="yes()">Yes</button>
</div>
