<div class="form-check form-switch">
  <input #toggleOption class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" [checked]="darkMode"
    (click)="toggle()">
  <label class="form-check-label" [ngClass]="{'text-muted': !darkMode}" for="flexSwitchCheckChecked">Dark
    Mode</label>
</div>
