div {
  // border-left: 1px solid lightgrey;
  // border-right: 1px solid lightgrey;
  // border-bottom: 1px solid lightgrey;
  // border: 1px solid grey;
  min-height: calc(100vh - 74px);
  padding:5px;
  height:100%;

  // background: lighten($primary, 40%);
  // background: whitesmoke;
  background: --bs-body-bg;
}

div.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

[contenteditable] {
  outline: 0px solid transparent;
}

.custom-scroll {
  --scrollbar-size: 8px;
  --scrollbar-thumb-color: var(--bs-primary);
  --scrollbar-hover-size: 12px;
  --scrollbar-track-color: rgba(0, 0, 0, 0.05);
  --scrollbar-border-radius: 0px;
  // height: 100%;
  // display:block;
}

// :host {
//  ::ng-deep {
//     ng-scrollbar.virtual-scroll {
//       // --scrollbar-size: 8px;
//       // --scrollbar-thumb-color: blue;
//       // --scrollbar-hover-size: 12px;
//       // --scrollbar-track-color: rgba(0, 0, 0, 0.05);
//       // --scrollbar-border-radius: 10px;

//       margin: 1em;
//       // height: 200px;
//       // max-height: 200px;
//       // border-radius: 6px;
//       // border: 1px solid gray;
//       // overflow: hidden;
//     }
//   }
// }
