<nav  class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <button type="button" class="navbar-toggler navbar-toggler-right" (click)="isExpanded = !isExpanded" [attr.aria-expanded]="!isExpanded" aria-controls="navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" [routerLink]="['/']">Angular Seed</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="!isExpanded">
      <ul *ngIf="IsLoggedIn | async" class="navbar-nav mr-auto">
        <li class="nav-item" >
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/home']" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}" [routerLink]="['/about']">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/profile']">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}" [routerLink]="['/notes']">Notes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}" [routerLink]="['/wizard']">Wizard</a>
        </li>
        <li  class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}" [routerLink]="['/events']">
            Events
            <span *ngIf="EventsCount | async as count" class="badge bg-secondary">{{ count }}</span>
            <!-- <span class="badge bg-secondary">New</span> -->
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}" [routerLink]="['/movies']">Movies</a>
        </li>
        <!-- <li class="nav-item"[routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"> -->
        <!--     <a class="nav-link" [routerLink]="['/unauthorized']">access</a> -->
        <!-- </li> -->
        <!-- <li class="nav-item"[routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"> -->
        <!--     <a class="nav-link" [routerLink]="['/login']">login</a> -->
        <!-- </li> -->
        <!-- <li  class="nav-item"[routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" [routerLink]="['/profile']">{{ _user ?.profile.email }}</a>
          </li> -->
      </ul>
    </div>

    <app-userinfo (signout)="onSignout()"></app-userinfo>
  </div>
</nav>
<!-- {{ _user ?.id_token }} -->
<!-- {{ _user ?.acces_token }} -->
