<app-event-list-header class="mb-5" (add)="onAddEvent($event)">
</app-event-list-header>

<div style="height: 400px">
  <ng-scrollbar thumbClass="custom-scrollbars">
    <app-event-list
      [events]="events"
      (toggle)="onToggleEvent($event)"
      (remove)="onRemoveEvent($event)"
      (update)="onUpdateEvent($event)">
    </app-event-list>

  </ng-scrollbar>
</div>

<!-- <app-event-list-footer [events]="events"></app-event-list-footer> -->

<ng-template appConfirm>
  <app-confirm-modal-component></app-confirm-modal-component>
</ng-template>
