<!-- <span  class="del fa fa-bin2" (click)="handleNoteDelete(note)"></span> -->
<!-- <span *ngIf="note">{{note.header}}</span> -->
<!-- <span class="clear"></span> -->
<!-- <div [ngClass] = "note.colour + '-note'" class="card-block"> -->

<app-textarea-expanded
  *ngIf="note"
  #notediv
  [note]      = "note"
  [(ngModel)] = "note.text"
  (onTextChanged)  = "handleChangeNoteText($event)"
  >
</app-textarea-expanded>

<!-- <div  contenteditable="true"> -->
<!--     {{note.text}} -->
<!-- </div> -->

<ng-template appConfirm>
  <app-confirm-modal-component></app-confirm-modal-component>
</ng-template>

<!-- <div  #notediv -->
<!--       cdkDrag class     = "card" -->
<!--       [style.width.px]  = "note.width" -->
<!--       [style.height.px] = "note.height" -->
<!--       [style.top.px]    = "note.top" -->
<!--       [style.left.px]   = "note.left" -->
<!--       (cdkDragEnded)    = "dragEnded($event)" -->
<!-- > -->
<!--     <div cdkDragHandle class="card-header"> -->

<!--       <span  class="del fa fa-bin2" (click)="handleNoteDelete(note)"></span> -->
<!--       <span class="clear"></span> -->
<!--       <!-1- {{ header }} -1-> -->
<!--     </div> -->
<!--     <div [ngClass] = "note.colour + '-note'" class="card-block"> -->
<!--     </div> -->

<!--     <app-textarea-expanded -->
<!--         #notediv -->
<!--         (note)      = "note" -->
<!--         [(ngModel)] = "note.text" -->
<!--         (onChange)  = "handleChangeNoteText(note.text)" -->
<!--     > -->
<!--     </app-textarea-expanded> -->
<!-- </div> -->
