div {
  display:block;
}
textarea  {
  resize:none;
  color: black;
  // display: block;
  padding:10px 10px 4px;
  // margin:25px auto 0px auto;
  // border: 2px solid #e0d6d6;
  // border-top:none;
  // width:250px;
  // height:150px;
  // resize:both;
  font:20px 'Gloria Hallelujah', cursive;
  line-height:1.5;
  border:0;
  border-radius:3px;
  background: -webkit-linear-gradient(#F9EFAF, #F7E98D);
  background: -moz-linear-gradient(#F9EFAF, #F7E98D);
  background: -o-linear-gradient(#F9EFAF, #F7E98D);
  background: -ms-linear-gradient(#F9EFAF, #F7E98D);
  background: linear-gradient(#F9EFAF, #F7E98D);
  // box-shadow:0 4px 6px rgba(0,0,0,0.1);
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.3);
  overflow:hidden;
  transition:box-shadow 0.5s ease;
  font-smoothing:subpixel-antialiased;
  // max-width:520px;
  // max-height:250px;
  /*position: absolute;*/
}

textarea.yellow-note{
  background: -webkit-linear-gradient(#F9EFAF, #F7E98D);
  background: -moz-linear-gradient(#F9EFAF, #F7E98D);
  background: -o-linear-gradient(#F9EFAF, #F7E98D);
  background: -ms-linear-gradient(#F9EFAF, #F7E98D);
  background: linear-gradient(#F9EFAF, #F7E98D);
}

.header {
}

.del {
  display: block;
  // position:absolute;
  right: 0px;
  // margin: 4px;
  cursor: pointer;
  float:right;
  // color:#c6c9cc ;
  color: var(--bs-primary);

  &:hover {
    // color: rgba(255, 167, 0, 0.98);
    color: var(--bs-secondary);
  }
}

.card-header {
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}


textarea.red-note{
  background: -webkit-linear-gradient(#F9AFAF, #F78D8D);
  background: -moz-linear-gradient(#F9AFAF, #F78D8D);
  background: -o-linear-gradient(#F9AFAF, #F78D8D);
  background: -ms-linear-gradient(#F9AFAF, #F78D8D);
  background: linear-gradient(#F9AFAF, #F78D8D);
}

textarea.green-note{
  background: -webkit-linear-gradient(#AFF9B0, #9FF78D);
  background: -moz-linear-gradient(#AFF9B0, #9FF78D);
  background: -o-linear-gradient(#AFF9B0, #9FF78D);
  background: -ms-linear-gradient(#AFF9B0, #9FF78D);
  background: linear-gradient(#AFF9B0, #9FF78D);
}

textarea.blue-note{
  background: -webkit-linear-gradient(#B3AFF9, #968DF7);
  background: -moz-linear-gradient(#B3AFF9, #968DF7);
  background: -o-linear-gradient(#B3AFF9, #968DF7);
  background: -ms-linear-gradient(#B3AFF9, #968DF7);
  background: linear-gradient(#B3AFF9, #968DF7);
}
textarea:hover { box-shadow:0 5px 8px rgba(0,0,0,0.15); }
textarea:focus { box-shadow:0 5px 12px rgba(0,0,0,0.2); outline:none; }

.note-container {
  // border-bottom-right-radius: 9px;
  // border-bottom-left-radius: 10px;
}

.card {
    border-left: none;
    border-bottom: none;
    border-right: none;
}

.clear {
  display:block;
  clear:both;
}
