@font-face {
  font-family: 'Raleway';
  src: url(../../assets/fonts/Raleway/Raleway-Regular.ttf)
}

$raleway                : 'Raleway', sans-serif;
$open-sans              : 'Open Sans', sans-serif;
$font-family-sans-serif : $raleway;
$font-family-serif      : $raleway;
$font-family-monospace  : Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base       : $font-family-sans-serif;
