<div class="container-fluid mt-2">
  <div class="row justify-content-md-center ">
    <app-toolbar> </app-toolbar>
    <div class="col-12 mt-2">
      <app-ba-card header="Wizard">
        <router-outlet></router-outlet>
      </app-ba-card>
    </div>
  </div>
</div>
