// .card-border {
  // border: 2px solid lighten($black, 80%);;
// }

.card {
  width: 250px;
  margin:10px;
}

.hover-shadow:hover {
  box-shadow: 0px 0px 5px var(--bs-secondary);
  cursor: pointer;
}

:host{
  margin:20px ! important;
}

img{
  width:auto;
  object-fit:cover;
  // object-position: 0% 0%;
}

small {
  font-size:13px;
  display:block;
  line-height: 20px;
}

.d-flex {
  align-items: center;
}

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
