:host {
  display:block;
}

.esk {
  position: absolute;
  cursor: pointer;
  z-index:100;
  right: 0;
  margin-right: 25px;
  margin-top: 10px;
  color: var(--bs-primary);
}

a {
  // color: lighten($primary, 10%);
}

a:hover {
  // color: lighten($primary, 20%);
}

.link {
  // color: lighten($primary, 10%);
}

.link:hover {
  // color: lighten($primary, 20%);
}

.active {
  // background: var(--bs-seconday) ! important;
  // color: lighten($primary, 10%);
}

.menu {
  cursor:pointer;
  margin-top: 4px;
  // color: var(--bs-primary);

}

.menu:hover {
  color: var(--bs-red);
}

.container {
  height: 100vh;
  overflow: auto;
}

.list-group-item {
  border: none;
  cursor:pointer;
  width:100%;
}

button {
  color: grey;
}
