<!-- <div class="row mt-3"> -->
<!--   <div class="col-md-12"> -->
<!--     <!-1- <app-add-button (add) = "onAddNote($event)" colour="yellow"></app-add-button> -1-> -->
<!--     <!-1- <app-add-button (add) = "onAddNote($event)" colour="red"></app-add-button> -1-> -->
<!--     <!-1- <app-add-button (add) = "onAddNote($event)" colour="green"></app-add-button> -1-> -->
<!--     <!-1- <app-add-button (add) = "onAddNote($event)" colour="blue"></app-add-button> -1-> -->
<!--     <app-add-button (add) = "onAddNote($event)"></app-add-button> -->
<!--   </div> -->
<!-- </div> -->

<span class="esk fa fa-plus" (click)="onAddNote('red')"></span>

<div class="row g-0">
  <div class="col-lg-3">

    <ul class="list-group">

      <div
        [routerLinkActiveOptions]="{exact:false}"
        [routerLinkActive]="['active']"
        [routerLink]="['/notes',note.id]"
        *ngFor="let note of Notes | async" [@fadeInOutEventNoteItem]>
        <div
          class="d-flex justify-content-between link list-group-item"
          [routerLinkActive]="['active']"
          >
          <span> {{ note.text | noteTitleTruncate : '20' : true }} </span>
          <span class="fa fa-bin2 menu" (click)="onNoteDelete(note)">
          </span>

        </div>


        <!-- <span class="fa fa-flicker menu"  > -->
        <!-- </span> -->

        <!-- <div class="d-inline-block" ngbDropdown #menuDrop="ngbDropdown"> -->
        <!--   <div ngbDropdownMenu> -->
        <!--     <!-1- <button ngbDropdownItem><span class="fa fa-circle-up">&nbsp;</span>Rename</button> -1-> -->
        <!--     <!-1- <button ngbDropdownItem><span class="fa fa-user">&nbsp;</span>Copy Text</button> -1-> -->
        <!--     <button ngbDropdownItem (click)="onNoteDelete(note)"><span style="color:orange" class="fa fa-bin2">&nbsp;</span>Delete </button> -->
        <!--   </div> -->
        <!-- </div> -->

      </div>

    </ul>
  </div>

  <div class="col-lg-9">

    <!-- <app-textarea-expanded> </app-textarea-expanded> -->
    <router-outlet></router-outlet>

  </div>

</div>

<!-- <app-note *ngFor="let note of $notes | async" -->
<!--   [note] = "note" -->
<!--   (changeNoteText) = "onChangeNoteText($event, note)" -->
<!--   (deleteNote) = "onNoteDelete($event)" -->
<!--   (changeNotePosition) = "onChangeNotePosition($event, note)" -->
<!--   > -->
<!-- </app-note> -->


