<!--<a routerLink="genres/{{genre.id}}/{{genre.name}}" routerLinkActive="['active']" >
    {{genre.name}}
</a>-->

<a
    [routerLink]="['genres',genre.id, genre.name]"
    class="list-group-item justify-content-between"
    [routerLinkActiveOptions]="{exact:false}"
    [routerLinkActive]="['active']" >
    {{ genre.name }}

    <!-- <span class="badge badge-pill badge-default"> -->
    <!--   {{genre.total_results}} -->
    <!-- </span> -->
</a>
