<!-- <form [formGroup]="loginForm"> -->
<form>
  <div *ngIf="hasMessage()" class="alert alert-warning" role="alert">
    <strong>Oh snap!</strong> {{ message }}
  </div>
  <div [formGroup]="loginForm" class="container pt-3">
    <div class="row justify-content-sm-center">
      <div class="col-sm-6 col-md-4">

        <div class="card text-center">
          <div class="card-header">
            Sign in to continue
          </div>
          <div class="card-body">
            <!-- <img src="https://placeimg.com/128/128/tech/sepia"> -->
            <!-- <br> -->
            <!-- <br> -->

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Username</span>
              </div>
              <input formControlName="username" type="text" type="text" class="form-control"  aria-describedby="basic-addon3">
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Password</span>
              </div>
              <input formControlName="password" type="password" class="form-control"  aria-describedby="basic-addon3">
            </div>

            <!-- <input  formControlName="username" type="text"[(ngModel)]="userName" class="form-control mb-2" placeholder="Username" required autofocus> -->
            <!-- <input formControlName="password" type="password" class="form-control mb-2" [(ngModel)]="password" placeholder="Password" required> -->
            <button class="btn btn-lg btn-primary btn-block mb-1" (click)="loginWithPassword()" type="submit">Sign in</button>

            <!-- <button class="btn btn-default" (click)="logout()">Logout</button> -->
            <!-- <label class="checkbox float-left"> -->
            <!--     <input type="checkbox" value="remember-me"> -->
            <!--     Remember me -->
            <!-- </label> -->
            <!-- <a href="#" class="float-right">Need help?</a> -->
          </div>
        </div>
        <!-- <a href="#" class="float-right">Create an account </a> -->
      </div>
    </div>
  </div>
</form>
