<div class="d-flex justify-content-between">

  <div class="mr-auto p-2">

    <check-mark class="px-2" (click)="onToggleEvent(event)" [checked]="event.complete"></check-mark>

    <label [hidden]="IsInEditMode" (dblclick)="onDoubleClick(event)" class="custom-control custom-checkbox mb-0">

      <span class="custom-control-description">
        {{event.title}}
      </span>
    </label>

    <input
      (keyup.enter)="onUpdateEvent(event)"
      (keydown.esc)="onCancelEdit()"
      class="editbox "
      [hidden]="!IsInEditMode"
      type="text"
      [(ngModel)]="editEvent.title">
  </div>

  <div class="p-1">

    <i
      [ngClass]="IsInEditMode ? 'btn-success' : 'btn-secondary'"
      class="btn btn-sm me-2"
      (click)="onUpdateEvent(event)" >

      <span [ngClass]="IsInEditMode ? 'fa fa-checkmark' : 'fa fa-pencil'"></span>
    </i>
    <i class="btn btn-danger btn-sm" (click)="removeEvent(event)" >
      <span class="fa fa-bin2"></span>
    </i>
  </div>

</div>
