<div class="container-fluid">

  <div class="col-md-6 mt-2">

  </div>

  <div class="col-md-6 mt-2">
    <div class="row">
      <div class="col-md-12">
        <app-ba-card header="Events List">
          <app-event [events]="EventItems | async"></app-event>
        </app-ba-card>
      </div>

      <div class="col-md-12 mt-4">
      </div>
    </div>
  </div>
</div>
