<div class="modal-header">
    <h4 class="modal-title">{{ options.title}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()">
        <!-- <span aria-hidden="true">&times;</span> -->
    </button>
</div>
<div class="modal-body">
    {{ options.message }}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close()">Close
    </button>
</div>
