<ng-template #t let-fill="fill">
  <span *ngIf="fill === 100" class="star full" [ngStyle]="{ 'font-size': size +'rem' }">&hearts;</span>
  <span *ngIf="fill === 0" class="star" [ngStyle]="{ 'font-size': size +'rem' }">&hearts;</span>
  <span *ngIf="fill < 100 && fill > 0" class="star" [ngStyle]="{ 'font-size': size + 'rem' }">
    <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
  </span>
</ng-template>

<ngb-rating [rate]="currentRate" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
