<!-- <app-ba-card margin="-1" title="" header="Genres"> -->
<app-ba-card class="screen-height" title="" header="Genres">
  <ng-scrollbar class="screen-height">
    <ng-container   *ngFor="let genre of genres" >
      <app-genre-list-item [genre]="genre" (select)="onSelectGenre($event)"></app-genre-list-item>
    </ng-container>
  </ng-scrollbar>
</app-ba-card>
